<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>巨无霸</string>
		<key>checked</key>
		<true/>
	</dict>
	<dict>
		<key>name</key>
		<string>巨大</string>
		<key>checked</key>
		<false/>
	</dict>
	<dict>
		<key>name</key>
		<string>超大</string>
		<key>checked</key>
		<false/>
	</dict>
	<dict>
		<key>name</key>
		<string>大</string>
		<key>checked</key>
		<false/>
	</dict>
	<dict>
		<key>name</key>
		<string>中</string>
		<key>checked</key>
		<false/>
	</dict>
	<dict>
		<key>name</key>
		<string>小</string>
		<key>checked</key>
		<false/>
	</dict>
</array>
</plist>
